/* min height set to push the footer down */
div#body {
	margin-bottom:10px;
}
.navbar {
	position : fixed;
	bottom:0px;
}

.navbar input {
	width: 380px;
	font-size:18px;
}

.navbar .navbar-container .span7 {
	background-color:white;
	padding-top:10px;
	padding-left:10px;
	border-radius:5px;
	-webkit-border-raidus:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}



