
<div class='home-tab container-fluid'>
	<div class='row-fluid'>
		<div class='span3'>
			side bar 1
		</div>
		<div class='span9'>
			<div id='eyecandy' class='container-fluid'>

			</div>
		</div>
	</div>
</div>
